@font-face {
    font-family: 'Brandon-italic-500';
    src: url('../fonts/BrandonGrotesque-MediumItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-italic-bold';
    src: url('../fonts/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon-italic-100';
    src: url('../fonts/BrandonGrotesque-ThinItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon-bold';
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-italic-300';
    src: url('../fonts/BrandonGrotesque-LightItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon-italic';
    src: url('../fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ap0se');
  src:  url('../fonts/icomoon.eot?4ap0se#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ap0se') format('truetype'),
    url('../fonts/icomoon.woff?4ap0se') format('woff'),
    url('../fonts/icomoon.svg?4ap0se#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
  content: "\e900";
  color: #026fa0;
}
.icon-arrow-down:before {
  content: "\e901";
  color: #717171;
}
.icon-success:before {
  content: "\e902";
  color: #026fa0;
}
.icon-time:before {
  content: "\e903";
  color: #026fa0;
}
.icon-user:before {
  content: "\e904";
  color: #026fa0;
}
.icon-user-login:before {
  content: "\e905";
  color: #828286;
}
.icon-lock-login:before {
  content: "\e906";
  color: #828286;
}


/*------------*/
body{
  background: #EAEEF2;
}

*{
  font-family: 'Brandon';
}
a:hover, a:focus{
  text-decoration: none !important;
  color: #717171;
}
h1,h2,h3,h4,h5, p{
  margin: 0;
}

/*-----------MENU--------------*/
.header__contain{
  margin: 0 auto;
  padding: 14px 30px 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header__left{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right{
  display: none;
  padding: 20px;
}
.header__right .btn-blue{
  margin-top: 15px;
}
.header__user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__user--name{
  font-size: 18px;
  color: #026FA0;
  margin-right: 24px;
}
.header__user--avatar{
  display: flex;
  align-items: center;
}
.avatar__img img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.header__mobile{
  display: flex;
}
.burger__mobile {
  width: 30px;
  height: 40px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.burger__mobile .icon-bar {
  width: 30px;
  height: 3px;
  background: #1c4a9e;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  opacity: 1;
  position: relative;
  display: block;
  margin: 0 auto;
}
.icon-bar:nth-child(2){
  margin-top: 6px;
}
.icon-bar:nth-child(3){
  margin-top: 5px;
}
.burger__mobile:focus {
    outline: none;
}
.burger__mobile .icon-bar.open {
    position: absolute;
}
.burger__mobile .icon-bar.open:nth-child(1) {
    transform: rotate(45deg);
    left: 0;
}
.burger__mobile .icon-bar.open:nth-child(2) {
    transform: rotate(0deg);
    opacity: 0;
}
.burger__mobile .icon-bar.open:nth-child(3) {
    transform: rotate(-45deg);
    left: 0;
    margin: 0 auto;
}
.dropdown .icon-arrow-down {
    margin-left: 11px;
    font-size: 6px;
}

/*----------LOGIN---------*/
.login__contain{
  background: white;
  width: 100%;
  display: flex;
  height: 100vh;
}
.login__col:nth-child(1){
  width: 60%;
  background: url(../img/bg.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.login__col:nth-child(1):before{
  content:"";
  position: absolute;
  width: 0; 
   height: 0; 
   border-left: 100px solid #f0ad4e;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent; 
}
.login__col:nth-child(2){
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6F8FA;
}
.login__card{
  width: 350px;
  border-radius: 16px;
  margin-right: 0;
}
.login__card h3{
  margin: 30px 0;
}
.login__card input{
  width: 100%;
  font-size: 16px;
  padding: 14px 0 9px 32px;
  border-radius: 5px !important;
  border: 1px solid #dacccc;
  color: #828286;
  background-repeat: no-repeat;
  margin: 0 0 10px;
}
.login__card input:focus{
  outline: 0;
}
.login__card .btn-blue{
  margin: 24px 0;
  width: 100%;
}
.login__card a{
  color: #707070;
  text-align: center;
  display: block;
}
.login__logo{
  display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}
.user-input {
    background-image: url(../img/user.png);
    background-position: 12px 14px;
}
.password-input {
    background-image: url(../img/look.png);
    background-position: 8px 16px;
    margin-top:6px;
}
.dropdown{
  display: none;
}
.dropdown-menu{
  top: 34px;
  left: -48px;
  padding: 0px;
  border-radius: 18px;
  margin: 0;
}
.dropdown-menu .btn-blue{
  font-size: 12px;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px;
}
.opacity{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.content-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-text .title{
  position: relative;
  color: white;
  line-height: 80px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.content-text .title span{
  background: #ffe521;
  padding: 5px 20px;
  font-family: 'Brandon-bold';
  font-weight: bold;
  color: #000000c7;
}

.line{
  width: 100%;
  border-top: 1px solid #828286;
  margin: 20px 0 ;
}

/*----------GESTION DE TRAMITE --------------*/
.management{
  background: #F0F4F5;
}
.management__content{
  max-width: 834px;
  margin: 0 auto;
  padding: 37px 30px 100px;
}

.subtitle{
  font-size: 18px;
  color: #026FA0;
  font-weight: 700;
}
.management__select--content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.management__select{
  margin-bottom: 32px;
  width: 100%;
}

.management__select .title__select{
  color: #026FA0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.management__select .form-control{
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #878787;
  padding: 0;
  box-shadow: none;
  font-size: 18px;
  color: #717171;
  -webkit-appearance: none;
}
.select-style{
  position: relative;
}
.select-style:after {
    content: "\e901";
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 7px;
    color: #717171;
    font-family: 'icomoon' !important;
}
.select-style .form-control{
  cursor: pointer;
}
.tramite__content--items{
  padding: 25px 0 50px;
}
.tramite__content--items ul {
  margin: 0;
  padding: 0;
}
.tramite__content--items li {
  list-style: none;
  margin-bottom: 12px;
}
.tramite__items{
  display: block;
  padding: 5px 24px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D8D8D8;
  border-radius: 17px;
  font-size: 18px;
  color: #717171;
}
.tramite__items:focus, .abierto{
  color:#026FA0;
  background: white;
  border: 1px solid #026FA0;
}
.tramite__items--content{
  font-size: 18px;
  padding-top: 50px;
  display: none;
}
.tramite__items--row{
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}
.tramite__items--row .icon{
  padding-right: 41px;
  font-size: 30px;
}
.textarea {
  padding-top: 17px;
}
.form__control{
  height: 265px !important;
  border: 1px solid #707070;
  border-radius: 0;
  font-size: 18px;
  color: #A3A3A3;
}
.btn-red{
  width: 100%;
  background: rgb(230, 0, 35);
  border-radius: 5px;
  border: 0;
  color: white !important;
  padding: 9px 57px;
  display: block;
  margin: 30px 0 10px;
  font-size: 15.5px;
  font-weight: bold;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 4px 6px rgba(0,0,0,0.2);
}
.btn-red:hover{
  background:rgba(230, 0, 35, 0.84);
  transition: .5s;
}

/**/
.wrapper {
  padding-right: 0;
  margin: 0;
}
.wrapper__content{
  padding: 60px 20px;
  overflow: hidden;
}
.sidebar__menu {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  height: auto;
  background: #E60023;
  border-right: 0 solid #f6f6f6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
}
.menu__principal{
  text-align: center;
}
.nombre{
  font-size: 25px;
  line-height: 25px;
  margin: 20px 0 5px;
  color: white;
  font-weight: bold;

}
.carrera{
  font-size: 18px;
  color: white;
}
.frase{
  font-size: 18px;
  text-align: center;
  color: white;
}
.organizacion{
  font-size: 16px;
  text-align: center;
  color: white;
}
.codigo__publico{
  border: 1px solid #dacccc;
  padding: 10px;
  margin: 25px auto 5px !important;
  text-align: center;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.codigo__publico h3 {
  font-size: 16px;
  font-weight: 600;
}
.sidebar__menu h4{
   color: white;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 992px) {
  .wrapper {
    padding-right: 350px;
    margin: 0 0 0 0;
  }
  .sidebar__menu {
    width: 350px;
    height: 100vh !important;
    position: fixed;
    overflow-y: hidden !important;
    border-right: 1px solid #f6f6f6;
    padding: 50px 30px;
  }
  .ministerio .logro .row{
    margin: 20px 0;
  }
}

.sidebar__menu .alumno__img{
  text-align: center;
  background: rgba(243,246,248,.94);
  width: 152px;
  height: 152px;
  margin: 0 auto;
  box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
  border-radius: 50%;
}
.sidebar__menu .alumno__img img{
  border-radius: 50%;
  width: 148px;
  height: 149px;
  box-shadow: 0px 20px 11px rgba(0, 0, 0, 0.16);
}

.logro__content {
  background: #B3B9BE;
  padding-bottom: 50px;
  padding-top: 50px;
}
.logro__tabs{
  display: flex;
}
.logro .title-center {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .logro .title-center {
    font-size: 28px;
  }
}

.logro .asterisk {
  margin-top: 20px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.logro .logro__item {
  background: white;
  color: #B4B4B4;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  transition: .5s;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
    display: block;
}

.logro-bg-red {
  background: #01265C !important;
  color: white !important;
}
.card-items {
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 5px;
  min-height: 180px;
  margin: 10px 0;
}
.card-items:hover{
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.card-items p{
  color: #333333 !important;
  margin: 10px;
}
.image-logro-desktop .row{
  margin: 0 ;
  width: 100%;
}
.btn-pefil{
  background: #ffe521;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.codigo__publico, .btn-pefil{
  width: 250px;
}
.img-ministerio{
  max-width: 100%;
   height: auto;
}
@media (min-width: 992px) {
  .logro .logro__item {
    font-size: 16px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-top: 0px;
    width: 120px;
    padding: 10px 15px;
  }
}
@media (min-width: 1220px){
  .card-items {
    margin: 0 ;
  }
  .image-logro-desktop .row{
     margin: 20px 0 ;
  }
}

.logro .wraper-tabs {
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  padding: 20px 10px;
}

@media (min-width: 768px) {
  .logro .wraper-tabs {
    padding: 25px;
  }
  .logro .logro__item{
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .ministerio .card-items{
    margin: 0;
  }
  .btn-pefil{
    margin: 50px auto;
  }
}

/* pagina form */

.formulario .titleForm{
  max-width: 600px;
  margin: 25px auto 30px;
  position: relative;
}
.agregarLogro{
  color:#E60023;
  font-weight: bold;
  font-size: 24px;
}
.btnConsultar{
  background: #FFC700;
  color:#ffffff;
  font-weight: bold;
  width: 150px;
  border-radius: 8px;
}
.btnAgregar{
  background: #E60023;
  color:#ffffff;
  font-weight: bold;
  width: 150px;
  border-radius: 8px;
}
.formulario input, select, textarea{
  padding: 5px;
  border-radius:5px;
  position: relative;
  height: 45px;
}

/*pagina de ministerio*/

.ministerio input{
  position: relative;
  height: 45px;
}
.ministerio span{
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 24px;
}
.ministerio .card-items{
  background: white;
  margin: 0 0 20px;
}
.ministerio .logro .row{
  margin: 0;
}

.container{
  width: 100% !important;
}

.formulario input, .formulario select{
  min-width: 500px;
  border: 1px solid #dacccc;
   margin: 0 0 10px;
}
.formulario form{
  padding: 0 0 0 40px;
}
.formulario .btnConsultar{
  min-width: 150px !important;
}

.formulario textarea{
  min-width: 500px;
  height: 200px;
  margin: 0 0 10px;
}